.dashboardnav-container {
  display: flex;
  justify-content: space-between;
  padding: 1vw 4vw;
  align-items: center;
}
.workdifrrencenav {
  display: flex;
  font: var(--unnamed-font-style-normal) normal medium 20px/30px
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 1.45vw;
  font-family: Poppins;
  font-weight: 400;
  width: 35vw;
}

.worknavtogglemenu {
  width: 12vw;
}

.sidebardashbord-container {
  width: 16vw;
  background-color: white;
  padding: 1vw;
}

.firstsidebarmenu {
  display: flex;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 14px/21px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 1vw;
  align-items: center;
  font-weight: 500;
  font-family: Poppins;
  margin: 1.5vw 0;
  cursor: pointer;
}

.firstsidebarmenu img {
  width: 2vw;
  object-fit: 1vw;
  margin: 0 1vw;
}

a {
  color: black !important;
}

.pnav-container {
  width: 100vw;
  height: 5.5vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vw;
  padding-right: 3vw;
  z-index: 1200;
  position: sticky;
  top: 0;
  box-shadow: 0px 3px 6px #00000029;
}
.pnav-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settinsiconpnav {
  margin: 1vw;
}
.pnavusername {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #70707033;
  border-radius: 30px;
  opacity: 1;
  height: 3vw;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5vw;
}
.pnav-name {
  width: 10vw;
  font-size: 1.4vw;
  font-family: Poppins;
}
.pnavuserimage {
  width: 2.9vw;
  height: 3.1vw;
  border-radius: 50%;
}
.pnavuserimage img {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.05vw;
}
.Profilebanner-container {
  width: 100vw;
  padding: 3vw;
  height: 35vw;
}
.profilePiccontainer {
  display: flex;
  width: 94vw;
  height: 10vw;
  padding-left: 3vw;
}
.coverPiccontainer {
  display: flex;
  width: 94vw;
  height: 23vw;
  border-radius: 0.3vw;
}
.coverimgqgeprofile {
  width: 89.5vw;
  height: 23vw;
}
.css-1wnsr1i {
  border: none !important;
  outline: none !important;
}
.coverimgqgeprofile img {
  width: 94vw;
  height: 23vw;
  object-fit: cover;
  z-index: -1;
  border-radius: 0.3vw;
}
.covereditimgqgeprofile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5vw;
  height: 3.5vw;
  background-color: white;
  border-radius: 50%;
  margin-top: 1vw;
  cursor: pointer;
}
.image-profilepart {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: 0.51vw;
  margin-top: 0;
  position: relative;
  bottom: 8vw;
}
.image-profilepart img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: 1vw;
  object-fit: cover;
  border-radius: 50%;
  /* border: 0.2vw solid rgb(46, 130, 240); */
}
.profilebannernameandpost {
  width: 66.5vw;
  margin-left: 4vw;
}
.profilebannernameandpostname {
  font-size: 1.5vw;
  font-family: Poppins;
  font-weight: 500;
  margin: 0.51vw;
  margin-bottom: 0.2vw;
}
.profilebannernameandpostemail {
  height: 1vw;
  margin: 0.51vw;
  margin-top: 0vw;
  position: relative;
  bottom: 0.3vw;
}
.profilebannernameandpostemail img {
  height: 1vw;
  width: 1vw;
  object-fit: contain;
  margin: 0 0.61vw 0 0;
}
.profilebadgecontainer {
  background: #e4e4e434 0% 0% no-repeat padding-box;
  border: 1px solid #7070700e;
  margin: 3vw auto;
  width: 90vw;

  padding: 0vw;
  height: 20vw;
}
.profiletitleandmenunav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profiledetailstitle {
  text-align: left;
  font: normal normal medium 24px/35px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 1.4vw;
  font-family: Poppins;
  font-weight: 500;
}
.profiledetailnavmanu {
  display: flex;
  width: 7vw;
  justify-content: right;
  position: relative;
  left: 1%;
}
.profiledetailnavmanu div {
  display: flex;
  width: 50%;
}
.profiledetailnavmanu img {
  width: 70%;
  object-fit: contain;
  cursor: pointer;
}
.pbadegesbox {
  width: 70vw;
  margin: 3vw auto;
  display: flex;
  justify-content: space-between;
}
.psbadege {
  text-align: center;
  margin: auto;
}
.psbadege img {
  width: 8vw;
  height: 8vw;
  padding-bottom: 2vw;
  object-fit: contain;
}
.Profileuserdetails-container {
  background: #e4e4e434 0% 0% no-repeat padding-box;
  border: 1px solid #7070700e;
  margin: 3vw auto;
  width: 90vw;
  padding: 0 2vw;
  min-height: 30vw;
  margin-top: 5vw;
  display: flex;
}
.profileuserdetailstwo {
  width: 4vw;
  background: white;
}

.profileuserdetailsone {
  width: 23vw;
}
.profileuserdetailsthree {
  width: 62vw;
  padding: 0 1vw;
}
.profileuserdfirst {
  display: flex;
  margin: 1vw 0vw;
  margin-right: 1vw;
  justify-content: space-between;
}
.profileuserfirstone {
  width: fit-content;
}
.profileuserfirstonetitle {
  color: #363636ea;
  font-size: 1.1vw;
  font-family: Poppins;
  font-weight: 500;
}
.profileuserfirstonedata {
  font-size: 0.85vw;
  font-family: Poppins;
  font-weight: 400;
  color: #7e7d7dbd;
  margin-top: 0.3vw;
  margin: 0.2vw 0;
}
.css-1aeycle {
  border: none !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  opacity: 1;
  -webkit-text-fill-color: rgba(0, 0, 0, 1) !important;
  color: black !important;
}
.profileuserfirstonesubtitle {
  color: #363636ce;
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 500;
  margin: 0.2vw 0;
}
.aboutprofileuser {
  color: #363636dc;
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 400;
  margin: 0.4vw 2vw;
  width: 50vw;
}

.profileworkhistruytoggleer {
  border-bottom: 1px solid #70707032;
}
.profileworkhistruytoggleer {
  display: flex;
  margin: 0vw 2vw;
  margin-bottom: 1vw;
}
.profileworkhistruytoggleervalue {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 20px/30px Poppins;
  letter-spacing: 0px;
  color: #00000093;
  opacity: 1;
  font-family: Poppins;
  font-size: 1.2vw;
  font-family: 500;
  margin: 1vw;
  width: 12vw;

  cursor: pointer;
}
.workhistrybox {
  border-bottom: 1.5px solid #70707032;
}
.workhistryboxtitle {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #064c87;
  opacity: 1;
  font-family: Poppins;
  font-size: 1.2vw;
  font-family: 600;
  margin: 0.3vw 0vw;
}
.workhistryboxdate {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #6b6a6acc;
  opacity: 1;
  font-family: Poppins;
  font-size: 1vw;
  font-family: 400;
  margin: 0.2vw;
}
.workhistryboxdata {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #6b6a6acc;
  opacity: 1;
  font-family: Poppins;
  font-size: 1vw;
  font-family: 400;
}
.psbadege {
  font-size: 1.2vw;
  position: relative;
  bottom: 1vw;
}

.pcatalofboxes {
  display: flex;
  margin: 2vw;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  bottom: 2vw;
}
.pcatelogbox {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  opacity: 1;
  width: 26vw;
  height: 30vw;
  margin: 1.5vw 0vw;
}
.pcatelogimg {
  width: 100%;
  height: 16vw;
}
/* .pcatelogimg img {
    width: 100%;
    height: 16vw;
    object-fit: cover;
  } */
.pcatelog-title {
  text-align: left;
  font: normal normal medium 16px/25px Poppins;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  width: 80%;
  font-family: Poppins;
  font-size: 1.15vw;
  font-family: 500;
  margin: 1vw;
}
.pcatelogdate {
  display: flex;
  margin: 1vw;
  justify-content: space-between;
}

.pcatelogdate {
  font-family: Poppins;
  font-size: 0.91vw;
  font-family: 400;
  margin: 1vw;
  color: #707070;
}
.pcatelogdate span {
  font-family: Poppins;
  font-size: 1vw;
  font-family: 400;
  margin: 0.21vw;
  color: #5e5d5d;
}
.pcatelogperson {
  margin: 1vw;
  margin-top: 2vw;
  display: flex;
  align-items: center;
}
.pcatelogpersonimg {
  width: 5vw;
  height: 4vw;
  border-radius: 50%;
}
.pcatelogpersonimg img {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  object-fit: cover;
}

.pcatelogpersonname {
  position: relative;
  bottom: 0.2vw;
  width: 13vw;
}
.pcatelogpersonname1 {
  font-size: 1.1vw;
  font-weight: 500;
  font-family: Poppins;
}
.pcatelogpersonname2 {
  font-size: 0.9vw;
  font-weight: 500;
  font-family: Poppins;
}
.pcatelogpersonname2 img {
  width: 0.8vw;
  object-fit: contain;
}

.pcatelogpersonRatings {
  align-items: center;
  font-size: 0.9vw;
  font-weight: 500;
  display: flex;
  font-family: Poppins;
}

.pportfoliocard {
  width: 38vw;
  height: 26vw;
  box-shadow: 0px 3px 6px #00000029;
  padding: 0vw 0vw;
  background-color: #fff;
  text-align: left;
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 2vw 2vw;
}
.pportimg {
  width: 100%;
  height: 22vw;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.porfolioprofilemenu {
  width: 3vw;
  margin: 0.71vw;
  height: 3vw;
  cursor: pointer;
}
.porfolioprofilemenu img {
  width: 3vw !important;
  height: 3vw !important;
  object-fit: contain !important;
}
.pportimg2 {
  width: 100%;
  height: 22vw;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s;
  visibility: 0;
  background-color: #00000060;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pportimg2:hover {
  background-color: #00000060;
  visibility: 1;
  opacity: 1;
}

.pcatelogimg2 {
  width: 100%;
  height: 16vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s;
  visibility: 0;
  background-color: #00000060;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pcatelogimg2:hover {
  background-color: #00000060;

  opacity: 1;
}
.pportimg img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
.pportfoliotext {
  font: normal normal normal 18px/27px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 1vw;
  font-size: 1.2vw;
  font-weight: 400;
  font-family: Poppins;
}
.pallskillboxes {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 0 2vw;
  padding-bottom: 2vw;
}
.pskillbox {
  width: fit-content;
  padding: 0.51vw 1.5vw;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  text-align: center;
  margin: 0.61vw 1vw;
  align-items: center;
  display: flex;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 1vw;
  font-weight: 400;
  font-family: Poppins;
}
.pcertificate-container {
  padding: 1vw 5vw;
}
.pusercertificatebox {
  display: flex;
}
.pusercertificateboximg {
  width: 9vw;
}
.pusercertificateboximg img {
  width: 6vw;
  height: 6vw;
  object-fit: contain;
}
.pusercertificateboxtexthead {
  text-align: left;
  font: normal normal medium 30px/46px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-size: 1.6vw;
  font-family: Poppins;
  font-weight: 500;
}
.pusercertificateboxtexthead1 {
  text-align: left;
  font: normal normal medium 30px/46px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

  font-size: 1vw;
  font-family: Poppins;
  font-weight: 400;
}
.pusercertificateboxtexthead3 {
  text-align: left;
  font: normal normal medium 30px/46px Poppins;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;

  font-size: 0.91vw;
  font-family: Poppins;
  font-weight: 400;
}
.pworkexperinxecontainer {
  padding: 1vw 5vw;
}

.pworkexperincebox {
  display: flex;
  /* align-items: center; */
}
.pworkexperinceboximg {
  width: 6vw;
}
.pworkexperinceboximg img {
  width: 3vw;
  object-fit: contain;
}
.pworkexperinceboxtext {
  margin-left: 1vw;
}
.pworkexperincebox-name {
  font-size: 1.3vw;
  font-family: Poppins;
  font-weight: 500;
}
.pworkexperincebox-name1 {
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 400;
  color: #5e5d5daf;
  margin: 0.81vw 0vw;
}

.userdetailsskillset {
  font-size: 0.81vw;
  font-family: Poppins;
  font-weight: 400;
  color: #8a8888c2;
  margin: 0.81vw 3vw;
}
.handlemoreaboutskill {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: right;
}
.handlecirclieabout {
  width: 2.63vw;
  height: 2.63vw;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;

  padding-top: 0.25vw;
}
.handlecirclieaboutsave {
  width: 7vw;
  height: 2.83vw;
  border-radius: 5%;
  background: #064c87;
  text-align: center;
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 500;
  color: #fbf9f9f5;

  display: block;
  margin-top: 1vw;
  padding-top: 0.7vw;
}
.inputprotfilioadd {
  width: 100%;
  height: 12vw;
  border-radius: 1vw;
  border: 2px dashed rgba(117, 116, 116, 0.808);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.popupimportpf {
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 500;
  color: #7c7a7af5;
}
.allfilesshownp {
  font-size: 0.91vw;
  font-family: Poppins;
  font-weight: 500;
  color: #7c7a7af5;
  margin: 1vw 0;
}
.filesekctedshioewn {
  display: flex;
  margin: 0.231vw 0;
  align-items: center;
}
.filesekctedshioewn img {
  margin: 0vw 1vw;
  width: 2vw;
  object-fit: contain;
}

.addskillpboxinput {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #7070704d;
  border-radius: 6px;
  opacity: 1;
  width: 100%;
  height: 3vw;
  margin: 1vw 0;
  padding: 0.5vw;
}
.inputbordernone {
  border: none;
  height: 2vw;
  outline: none;
  font-size: 1.1vw;
  font-family: Poppins;
  font-weight: 400;
  color: #292828f5;
  width: 85%;
  position: relative;
  bottom: 0.5vw;
}
.inputaddskillp {
  width: 15%;
  height: 3vw;
  position: relative;
  left: 0.56vw;
  bottom: 0.56vw;
  outline: none;
  border: none;
}
.editpskillbox {
  display: flex;
  align-items: center;
}
.editskilnamep {
  outline: none;
  border: none;
  width: 80%;
  margin: 1vw 2vw;
}
.editskillshoiwn {
  max-height: 40vw;
  overflow: scroll;
}

.editsillpopupskilltext {
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 400;
}
.boxofskillsp {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #70707079;
  border-radius: 4px;
  height: 18vw;
  margin: 1vw 0;
  padding: 1vw;
}
.savedskillpopupcardp {
  display: flex;
  flex-wrap: wrap;
}
.savedskillwrapsinglep {
  width: fit-content;
  padding: 0.3vw 1vw;
  background-color: #1370bdf8;
  display: flex;
  align-items: center;
  height: 2.53vw;
  margin: 0.5vw 0.71vw;
  color: white;
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 2vw;
}
.inputforskillp {
  width: 100%;
  height: 2.5vw;

  border: none;
  margin: 0.51vw 1vw;
  outline: none;
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 500;
  color: #504e4e;
  border-bottom: 1.5px solid gray;
}

.notificationpopup {
  width: 50vw;
  padding: 0.51vw;
  border-radius: 0.3vw;
  margin-top: 1vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.notificationpopuptitile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}
.notification-title {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 14px/20px Poppins;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  font-size: 1.5vw;
  font-family: Poppins;
  font-weight: 400;
}
.notificationmarkallread {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal normal 14px/20px Poppins;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  font-size: 1vw;
  font-family: Poppins;
  font-weight: 400;
  color: #84818a;
}
.notification-entriesbox {
  display: flex;
  border-bottom: 1.5px solid #84818a4f;
  padding: 1vw;
}
.notificationentrieslogo {
  width: 4.5vw;
}
.notificationentrieslogo img {
  width: 3vw;
  border-radius: 50%;
  height: 3vw;
  object-fit: cover;
}

.notificationname {
  letter-spacing: var(--unnamed-character-spacing-0);
  margin-top: 0.3vw;
  font: normal normal normal 14px/20px Poppins;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  font-size: 1.1vw;
  font-family: Poppins;
  font-weight: 400;
  color: #000000;
}
.notificationnamevalue {
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal normal 14px/20px Poppins;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  font-size: 0.91vw;
  font-family: Poppins;
  font-weight: 400;
  color: #84818a;
}

.notificationtime {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: right;
  font: normal normal normal 14px/20px Poppins;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  font-size: 0.81vw;
  font-family: Poppins;
  font-weight: 400;
  color: #84818a;
  margin-top: 0.4vw;
}
.seeallnotification {
  letter-spacing: var(--unnamed-character-spacing-0);

  font: normal normal normal 14px/20px Poppins;
  letter-spacing: 0px;
  color: black;
  opacity: 1;
  font-size: 1.15vw;
  font-family: Poppins;
  font-weight: 500;
  color: #84818a;
  margin: 0.8vw;
  color: #064c87;
}

.navbarWrapper {
  position: sticky !important;
  top: 0 !important;
  z-index: 1001 !important;

  background: linear-gradient(180deg, #eff2f3 0%, #f2f4f4 100%) !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05) !important ;
}

.navbar {
  padding: 0.5% !important;
  z-index: 100 !important;
}

.searchform {
  position: relative;
  margin-left: 5%;
  z-index: 100 !important;
}

.searchform select {
  width: 60px;
  background: #e0e0e0;
  border-radius: 5px 0px 0px 5px;
  border: none;
  text-align: center;
}

.searchform input {
  width: 40vw;
}

/* .searchform select:focus,
    .searchform input:focus {
      outline: none !important;
      border: none !important;
    } */

.searchInput {
  border: none !important;
}

.searchInput:focus {
  outline: none !important;
  border: none !important;
}

.searchButton {
  background-color: transparent;
  position: absolute;
  /* right: 15px;
      top: 3.5px; */
  top: 10%;
  right: 1%;

  border: none;
}

.searchButton img {
  width: 89%;
}

.navbarRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notificationIcon,
.cartIcon,
.rupeeIcon {
  margin: 0 12px;
  position: relative;
}

.login {
  margin: 0 18px 0 28px;
  align-items: center;
}
.login button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 16px;
  color: #000000;
  background: none;
  border: none;
}

.register {
  margin: 0 18px 0 0;
}

.register button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 16px;
  color: #000000;
  background: none;
  border: none;
}

.notificationIcon sup,
.rupeeIcon sup {
  position: absolute;
  left: 20px;
  top: -3px;
}
.cartIcon sup {
  position: absolute;
  top: 6px;
  right: -4px;
  height: 10px;
  width: 13px;
}

.cartIcon sup span {
  background-color: red;
  border-radius: 50%;

  /* text-align:center; */
  /* padding:2px 6px; */
  padding: 10% 30%;

  color: white;
}

@media screen and (max-width: 992px) {
  .navbarRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .login,
  .register {
    margin: 0 10px;
  }
  .searchform {
    margin-left: 0px;
  }
}

@media screen and (max-width: 530px) {
  .searchform {
    margin-left: 10px;
  }

  .searchform input {
    max-width: 60vw;
    min-width: 50vw;
  }
}

.remove-drawer {
  margin-top: 2.6vmax !important;
  margin-left: 1.8vmax !important;
  width: 1vmax;
  height: 1vmax;
  font-size: 7px;
}
.profileDropdown .dropdown button {
  background: transparent !important;
  font-family: DM Sans !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 0.875rem !important;
  line-height: 1rem !important;

  color: #000000 !important;
}

.profileDropdown .dropdown button::after {
  display: none !important;
  content: "" !important;
  width: 0 !important;
  height: 0 !important;
}

.profileDropdown .dropdown .dropdown-menu {
  width: 14vw !important;
  border: none !important;
}

.profileDropdownMenu {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #455a64;
}

.mobilenavright,
.searchBarMobile,
.searchBarMobileWrapper {
  display: none;
}
.loginslider1 {
  display: block;
}
.loginslider2 {
  display: none;
}
@media only screen and (max-device-width: 700px) {
  .navbarWrapper {
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;
    background: linear-gradient(180deg, #eff2f3 0%, #f2f4f4 100%) !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05) !important ;
    height: 14vw;
  }

  .navbar {
    padding: 0.5% !important;
    padding-top: 1vw !important;
    padding-bottom: 1vw !important;
  }

  .searchform {
    display: none;
    position: relative;
    margin-left: 5%;
  }

  .searchform select {
    display: none;
    width: 60px;
    background: #e0e0e0;
    border-radius: 5px 0px 0px 5px;
    border: none;
    text-align: center;
  }

  .searchform input {
    width: 40vw;
    display: none;
  }

  .searchInput {
    display: none;
    border: none !important;
  }

  .searchInput:focus {
    outline: none !important;
    border: none !important;
  }

  .searchButton {
    background-color: transparent;
    position: absolute;
    /* right: 15px;
            top: 3.5px; */
    top: 10%;
    right: 1%;
    display: none;
    border: none;
  }

  .searchButton img {
    width: 89%;
  }

  .navbarRight {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .notificationIcon,
  .cartIcon,
  .rupeeIcon {
    margin: 0 12px;
    position: relative;
  }

  .login {
    margin: 0 18px 0 28px;
    align-items: center;
  }
  .login button {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 16px;
    color: #000000;
    background: none;
    border: none;
  }

  .register {
    margin: 0 18px 0 0;
  }

  .register button {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 16px;
    color: #000000;
    background: none;
    border: none;
  }

  .notificationIcon sup,
  .rupeeIcon sup {
    position: absolute;
    left: 20px;
    top: -3px;
  }
  .cartIcon sup {
    position: absolute;
    top: 6px;
    right: -4px;
    height: 10px;
    width: 13px;
  }

  .cartIcon sup span {
    background-color: red;
    border-radius: 50%;

    /* text-align:center; */
    /* padding:2px 6px; */
    padding: 10% 30%;

    color: white;
  }
  .mobilenavright {
    padding-top: 1vw;
    display: flex;
    width: 10vw !important;
    justify-content: flex-end;
  }

  .navbar-toggler {
    display: none;
  }
  .mobrupeenav {
    position: relative;
    left: 4vw;
  }

  .searchBarMobileWrapper {
    display: block;
    z-index: 1000;
    width: 100%;
    background: #cfcece;
    /* margin:1px 0 10px 0; */
  }
  .searchBarMobile {
    display: flex;
    width: 100%;

    background: #ffffff;
    border-radius: 5px !important;
    position: relative;
    /* font-size: 25px; */
  }

  .searchBarMobile input {
    border: none;
    height: 33px;
    width: 100%;
    box-sizing: border-box;
    padding: 1vw;
    font-size: 1.5rem;
    border-radius: 5px !important;
    /* font-size: 25px; */

    /* text-align: center; */
  }
  .searchBarMobile button {
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    padding-right: 1vw;
    /*
        top:1vw;
        border:none;
        width:1vw; */
  }

  .searchBarMobile form {
    width: 100%;
  }

  .searchBarMobile input::placeholder {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.5rem;
    /* padding-bottom:.8rem; */
    text-align: start;
    z-index: 10;
    color: black;
    opacity: 0.7;
  }
  .loginslider1 {
    display: none;
  }
  .loginslider2 {
    display: block;
  }
  .profileDropdownMenu {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2vw;
    line-height: 3.2vw;
    color: #455a64;
  }
}

.show > .btn-primary.dropdown-toggle {
  border: none !important;
}
.btn-primary {
  border: none !important;
}
.btn-primary:focus {
  border: none !important;
  box-shadow: none !important;
}
.profileDropdown .dropdown button {
  font-weight: normal !important;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  border: none !important;
}
.profileDropdown .dropdown .dropdown-menu {
  width: 16vw !important;
  box-shadow: 0px 3px 6px #00000029;
  left: 1.5vw !important;
}
.profileDropdownMenu {
  font-size: 1.1vw;
}
.pnav-container {
  z-index: 1040 !important;
}

.pcatelogimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pworkexperinceboximg {
  margin-top: 0.51vw;
}
