.inputtypeformfield {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  height: 2.5vw;
  width: 100%;
  padding: 0.2vw;
  display: flex;
  align-items: center;
  margin: 0.81vw 0;
}

.inputtypeformfield input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1vw;
  line-height: 1.2vw;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root {
  height: 100% !important;
  color: gray;
}
.css-1ptx2yq-MuiInputBase-root-MuiInput-root ::after {
  border-bottom: 2px solid white !important;
}
.css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid white !important;
}
.css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 2px solid white !important;
}
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  padding-right: 24px;
  min-width: 16px;
  /* color: gray !important; */
  font-size: 1vw !important;
  font-family: Poppins;
}
