body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
}
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.MuiSelect-select {
  font-size: 1.1vw !important;
}
.selectedhjobfile {
  font-size: 1vw !important;
}
.css-1cccqvr.MuiSelect-select {
  font-size: 1vw !important;
}
.MuiSelect-select {
  font-size: 1vw !important;
}
.labeltextarea {
  margin-top: 0.2vw !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 1.2vw !important;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 1.2vw !important;
}

.homepostjob-right {
  overflow: scroll;
}
.input-homejobformdate {
  width: max-content !important;
  font-size: 1vw;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  color: black;
  font-weight: 400 !important;
}

.jobpostfieldinputbox input {
  width: 94% !important;fill:black
}

.css-29aysa {
  width: 94% !important;fill:black
}
.makeStyles-select-1 {
  width: 100% !important;fill:black
}
.jobpostfieldinputbox textarea {
  width: 94% !important;fill:black
}
.makeStyles-select-73 {
  width: 100% !important;fill:black
}

.makeStyles-select-13 {
  width: 100% !important;fill:black
}
.makeStyles-select2-2 {
  width: 100% !important;fill:black
}
.makeStyles-select-3{
    width: 100% !important; fill:black
}
.css-tzsjye{
 vertical-align: center !important;
 vertical-align: middle !important;
 padding: 0.51vw 0vw;
 padding:0vw 0.2vw;
 color: black !important;
 fill:black
}

.activejobpostbox {
    display: flex;
   
    align-items: center;
  height: fit-content !important;
}
.jss1{
    padding:0vw 0.3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: none;
  color: black !important;
  font-weight: 400 !important;fill:black
}
.jss2{
    padding:0vw 0.2vw;
    padding:0vw 0.4vw;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: none;
  color: black !important;
  font-weight: 400 !important;fill:black
}
.jss3{
  display: flex;
  padding:0vw 0.4vw;
  align-items: center;
  justify-content: space-between;
  text-align: none;
  color: black !important;
  font-weight: 400 !important;fill:black
}
.jss5{
    display: flex;
    padding:0vw 0.4vw;
    align-items: center;
    justify-content: space-between;
    text-align: none;
  color: black !important;
  font-weight: 400 !important;fill:black
}
.jss4{
    display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: none;
  padding:0vw 0.4vw;
  color: black !important;
  font-weight: 400 !important;fill:black
}
.jss6{
    display: flex;
    padding:0vw 0.4vw;
  align-items: center;
  justify-content: space-between;
  text-align: none;
  color: black !important;
  font-weight: 400 !important;fill:black
}

.css-1cccqvr.MuiSelect-select{
    color: black;fill:black
}
.recentnamesearc{
  cursor: pointer;

}



.jobpostfieldinputbox input{
  font-size: 1.1vw;
}
